{% extends 'todolist/base.html' %}

{% block content %}
    {% for post in posts %} 
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            
            <img class='rounded-circle account-img' src="{{post.author.profile.image.url}}">

            <div class = "container">
                
                  <h3 class="text-center mt-2 mb-2">Video</h3>
                  <video class= "embed-responsive embed-responsive-16by9" controls="controls" >
                    <source src="{{post.video.url}}" type="video/mp4" />

                  </video>
                  
                </div>
            <small class="text-muted">{{ post.author }}</small>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.pk %} ">{{ post.title }}</a></h2>
          
          <p class="article-content">{{ post.text }}</p>
        </div>
    </article>
    {% endfor %}


{% endblock %}

