{% extends 'todolist/base.html' %}

{% block content %}
    
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ post.author }}</small>
            <small class="text-muted">{{ post.date_posted }}</small>
          <h2 class="article-title" > {{ post.title }} </h2>
          <p class="article-content">{{ post.text }}</p>
          <video class="embed-resposive embed-responsive-16by9" controls="controls" >
            <source src="{{ post.audio.url }}" type="video/mp4"/>
          </div>
          </video>
          {% if user.is_authenticated %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.pk %} ">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.pk %} ">Delete</a>
          </div>
          {% endif %}
        </div>
    </article>
    
{% endblock %}

